name: API CI
on:
  push:
    paths:
      - "./api/**"
      - ".github/workflows/api-ci.yml"

defaults:
  run:
    working-directory: ./api

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Nodejs
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'yarn'
          cache-dependency-path: ./api/yarn.lock
      - name: Install Dependencies
        shell: bash
        run: yarn install --frozen-lockfile
      - name: Run Unit Tests
        shell: bash
        run: yarn test
